* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

.btn {
  display: inline-block;
  width: 144px;
  height: 50px;
  border-radius: 24.5px;
  background: #171100;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 50px;
}

a {
  text-decoration: none;
}

.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.header {
  background: #fffcf4;
}

.header .body {
  display: flex;
  align-items: center;
}

.nav {
  margin-left: auto;
}

.nav ul {
  display: flex;
}

.nav li a {
  color: #5f5b53;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.nav li {
  padding: 4px 21px;
}

.body {
  padding-top: 36px;
}

.header.fixed {
  position: sticky;
  top: -28px;
}

.body .action {
  margin-left: 49px;
}

.nav li a:hover,
.nav li.active a {
  color: #171100;
  text-align: center;
  font-size: 1.6rem;
  text-shadow: 1px 0 0 currentColor;
}

.nav a {
  position: relative;
}
.nav li.active a::after {
  position: absolute;
  content: "";
  display: block;
  width: 12px;
  height: 2px;
  border-radius: 1px;
  background: #171100;
  bottom: -6px;
}
